<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Validation Form Example</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .wrap { margin-top: 20px; }
    </style>
</head>
<body ng-app="validationFormExample" ng-controller="mainController">

    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Validation Form Example</div>
                        <div class="panel-body">

                            <!-- example validation form -->
                            <form method="post" name="exampleForm" novalidate>
                                <div ng-class="{ 'form-group': true, 'has-error': hasError(exampleForm.driverLicense)}">
                                    <label for="driver-license" class="control-label">Водительские права</label>
                                    <input type="text" name="driverLicense" id="driver-license" class="form-control" autofocus
                                        data-toggle="tooltip" data-placement="bottom" title="Формат следующий 12 XX 123456, где X - цифра или русская буква, остальные цифры"
                                        ng-model="driverLicense" capitalize strip-latin
                                        required driver-license-validator>
                                    <p ng-if="hasError(exampleForm.driverLicense)" class="help-block">
                                        Это поле обязательно для заполнения
                                    </p>
                                </div>
                                <div ng-class="{ 'form-group': true, 'has-error': hasError(exampleForm.registerNumber)}">
                                    <label for="register-number" class="control-label">Регистрационный номер</label>
                                    <input type="text" name="registerNumber" id="register-number" class="form-control"
                                        data-toggle="tooltip" data-placement="bottom" title="Формат ввода А 001 АА 77 или А 001 АА 777. Т.е. в конце может быть как 2 так и три символа"
                                        ng-model="registerNumber" capitalize strip-latin
                                        required register-number-validator>
                                    <p ng-if="hasError(exampleForm.registerNumber)" class="help-block">
                                        Это поле обязательно для заполнения
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit-btn" class="btn btn-default" value="Отправить" >
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>